@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --font-family: 'Roboto Condensed', sans-serif;
    --first-section-bg-color: #1A1A1A;
    --color-primary: #ff8000;
    --color-secondary: #000000;
}
