@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url(config.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-family);
    overflow-x: hidden;
    height: 7000px;
}
/* header */
.header{
    display: flex;
    background-color: white !important;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 99999999;
}
/* nav-bar */
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    margin-top: 15px;
}
.nav-menu ul{
    gap: 100px;
    display: flex;
}
.nav-menu li{
    font-size: 25px;
    display: flex;
    text-decoration: none;
}
.nav-menu li a{
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* nav-logo */
.nav-logo{
    position: absolute;
    top: 15px;
    left: 100px;
}
.learn-to-cook-section{
    background-color: var(--first-section-bg-color);
    justify-content: flex-end;
    display: flex;
}

.learn-to-cook-section img{
    width: 45%;
    height: 800px;
}
.learn-to-cook-section-main-text{
    position: absolute;
    top: 250px;
    right: 1200px;
    font-size: 50px;
    color: snow;
}
.learn-to-cook-section-description-text{
    position: absolute;
    top: 400px;
    right: 1010px;
    font-size: 20px;
    color: snow;
    
}
.learn-to-cook-section-btn{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #F14A0E;
    text-decoration: none;
    position: absolute;
    top: 500px;
    right: 1420px;
    font-size: 20px;
    color: snow;
    font-weight: 900;  
    transition: 0.4s ease-in-out; 
}
.learn-to-cook-section-btn:hover {
    background-color: #d13e0c;
}
.boxes{
    display: flex;
    gap: 60px;
    position: absolute;
    left: 260px;
    top: 720px;
}
.box:nth-child(even){
    background-color: #F57E54;
}
.box{
    border-radius: 60px;
    width: 300px;
    height: 380px;
    background-color: #F14A0E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    text-align: center;
}
.box h2{
    font-size: 30px;
}
.box img{
    background-color: white;
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}
.online-cooking-classes-section{
    display: flex;
}

.online-cooking-classes-section-img img{
    border-radius: 50%; 
    border: 18px solid #F14A0E;
    width: 45vw;
    height: 90vh;
    position: absolute;
    top: 1300px;
    left: 300px;
}
.online-cooking-classes-section-decoration1{
    position: absolute;
    top: 1200px;
    left: 1200px;
    width: 100px;
    height: 100px;
    border: 50px solid #F57E54;
    width: 12vw;
    height: 24vh;
    border-radius: 50%;
    
}
.online-cooking-classes-section-decoration2{
    position: absolute;
    top: 1950px;
    left: 320px;
    width: 100px;
    height: 100px;
    background-color: #F14A0E;
    width: 12vw;
    height: 24vh;
    border-radius: 50%;
    z-index: 2;
}
.online-cooking-classes-section-decoration3{
    position: absolute;
    top: 2250px;
    left: 400px;
    width: 100px;
    height: 100px;
    border: 50px solid #F57E54;
    width: 12vw;
    height: 24vh;
    border-radius: 50%;
    
}
.online-cooking-classes-section-main-text{
    border-radius: 50%; 
    background-color:  #F14A0E;
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 1950px;
    left: 700px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3vw;
}

.online-cooking-classes-section-main-text h1{
    font-size: 80px;
}

.online-cooking-classes-section-main-text p{
    font-size: 25px;
    width: 700px;
}
.online-cooking-classes-section-main-text a{
    text-decoration: none;
    font-size: 25px;
    color: #F14A0E;
    background-color: white;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.cooking-classes-section{
    display: flex;
    position: absolute;
    top: 3000px;
    background-color: black;
    width: 100%;
    height: 100%;
}
.cooking-classes-section-text{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    top: 500px;
    font-size: larger;
    font-weight: bold;
}
.cooking-classes-section-text a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 50px;
    background-color: #F14A0E;
    width: 200px;
    height: 40px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    left: 850px;
}
.cooking-classes-section-text a:hover{
    background-color: white;
}
.cooking-classes-section-images{
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
}
.cooking-classes-section-images img{
    border-radius: 50%;
}
#cooking-classes-img1{
    width: 370px;
    height: 370px;
    position: relative;
    top: 180px;
    right: 50px;
}
#cooking-classes-img2{
    width: 550px;
    height: 550px;
    position: relative;
    top: 45px;
    left: 250px;
    
}

#cooking-classes-img4{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 800px;
    right: 400px;
    
}
#cooking-classes-img3 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 750px;
    left: 400px;
    animation: spin-and-move 2s ease-in 1 4s; 
}
.history-section{
    position: absolute;
    top: 3950px;
    background-color: #F14A0E;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.history-section-parts{
    position: relative;
    bottom: 100px;
}
.history-section-parts p{
    font-size: larger;
}
.history-section-parts-part1{
    position: relative;
    top: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    text-align: center;
    color: white;
}
.history-section-parts-part2{
    position: relative;
    top: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    text-align: center;
    color: white;
}
.mission h2{
    position: relative;
    right: 190px;
    bottom: 20px;
    font-size: 30px;
}
.vision h2{
    position: relative;
    right: 190px;
    bottom: 20px;
    font-size: 30px;
}
.history h2{
    position: relative;
    right: 190px;
    bottom: 20px;
    font-size: 30px;
}
.our-team h2{
    position: relative;
    right: 160px;
    bottom: 20px;
    font-size: 30px;
}
.history-section-parts-decoration-circle{
    position: relative;
    right: 70px;
    top: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.history-section-text{
    color: white;
    position: absolute;
    top: 200px;
    left: 700px;
    font-size: 25px;
}
/* simple-and-delicious-traditional-cooking-section */
.simple-and-delicious-traditional-cooking-section{
    position: absolute;
    top: 5000px;
}
.simple-and-delicious-traditional-cooking-section-images img{
    border-radius: 50%;
    border: 20px solid #F14A0E;
}
#traditional-cooking-img1{
    position: absolute;
    left: 650px;
    top: -20px;
    width: 380px;
    height: 380px;
    animation: fadeInDown;
    animation-duration: 2s;
    animation-delay: 7s;
}

#traditional-cooking-img2{
    position: absolute;
    left: 300px;
    top: 400px;
    width: 450px;
    height: 450px;
    animation: fadeInLeft;
    animation-duration: 2s;
    animation-delay: 7s;
}
#traditional-cooking-img3{
    position: absolute;
    left: 800px;
    top: 700px;
    width: 730px;
    height: 730px;
    animation: fadeInRight;
    animation-duration: 2s;
    animation-delay: 7s;
}
.simple-and-delicious-traditional-cooking-section-decoration1{
    position: absolute;
    left: 1200px;
    top: 250px;
    width: 250px;
    height: 250px;
    background-color: #F57E54;
    border-radius: 50%;
    animation: fadeIn;
    animation-duration: 2s;
    animation-delay: 7s;
}
.simple-and-delicious-traditional-cooking-section-decoration2{
    position: absolute;
    left: 850px;
    top: 550px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 25px solid #F14A0E;
    animation: fadeIn;
    animation-duration: 2s;
    animation-delay: 7s;
    
}
.simple-and-delicious-traditional-cooking-section-text{
    position: absolute;
    top: 1150px;
    left: 500px;
    display: flex;
    justify-content: center;
    padding-left: 70px;
    flex-direction: column;
    width: 600px;
    height: 450px;
    border-radius: 50px;
    background-color: #F14A0E;
    text-align: left;
    color: white;
    animation: fadeInUp;
    animation-duration: 2s;
    animation-delay: 8s;
}
.simple-and-delicious-traditional-cooking-section-text h1{
    position: relative;
    top: -25px;
    font-size: 55px;
}
.simple-and-delicious-traditional-cooking-section-text p{
    font-size: 20px;
}
.simple-and-delicious-traditional-cooking-section-text a{
    text-decoration: none;
    color: #F14A0E;
    background-color: white;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
    right: 10px;
    border-radius: 50px;
}
/* Menu Section */
/* .menu-section{
    position: absolute;
    top: 7000px;
    display: flex;
}
.menu-section-parts{
    display: flex;
}
.menu-section-part{
    background-color: gray;
    opacity: 0.1;
} */
/* Why us section */
.why-us-section{
    display: flex;
    position: absolute;
    top: 6650px;
    width: 100%;
    background-color: black;
    height: 1500px;
}
.why-us-photo-right-side img{
    position: absolute;
    top: 350px;
    left: 500px;
    width:450px;
    height: 450px;
    border-radius: 50%;
    border: 10px solid #F14A0E; 
}
.why-us-photo-right-side img{
    position: absolute;
    top: 350px;
    left: 500px;
    width:450px;
    height: 450px;
    border-radius: 50%;
    border: 10px solid #F14A0E; 
}
.why-us-photo-right-side p{
    position: absolute;
    top: 150px;
    left: 350px;
    font-size: 35px;
    color: white;
}
.why-us-main-text-left-side p{
    position: absolute;
    top: 350px;
    left: 1150px;
    font-size: 20px;
    color: white;
}
.why-us-main-text-left-side h1{
    position: absolute;
    top: 250px;
    left: 1150px;
    font-size: 60px;
    color: white;

}
.why-us-main-text-left-side a{
    position: absolute;
    top: 650px;
    text-decoration: none;
    background-color: #F14A0E;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    left: 1150px;
    color: white;
    transition: 0.5s;
}
.why-us-main-text-left-side a:hover{
    background-color: white;
    color: #F14A0E;
}
/* Animations */
@keyframes spin-and-move {
    0% {
        transform: rotate(0deg); 
        opacity: 0;
        left: 200px; 
    }
    50% {
        left: 300px;
        opacity: 0.5;
    }
    100% {
        transform: rotate(360deg); 
        opacity: 1; 
        left: 400px; 
    }
}


